@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans:wght@300;400;700&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
a {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* Navigation*/
.nav-icon {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.nav-icon {
  color: #23272b;
}

.cart-items {
  position: absolute;
  top: -3px;
  right: -9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9f64cd;
  color: white;
  font-weight: 400;
  border-radius: 30%;
  width: 1.2em;
  height: 1.2em;
}

/*Hero*/
.hero {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/images/vcam_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.hero_container {
  color: white;
}

.hero_title {
  font-family: "caveat brush";
  font-size: 4em;
  text-shadow: black 1px 1px 7px;
}

.btn-hero {
  background: #9f64cd;
  padding: 0.8em 2em;
  border-radius: 0.4em;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn-hero:hover {
  background: #f09d51;
}

/* Products */
.products {
  padding: 3rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1em;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.product {
  border-radius: 0.8em;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  scale: 100%;
  -webkit-transition: scale 300ms linear, -webkit-box-shadow 300ms linear;
  transition: scale 300ms linear, -webkit-box-shadow 300ms linear;
  transition: scale 300ms linear, box-shadow 300ms linear;
  transition: scale 300ms linear, box-shadow 300ms linear, -webkit-box-shadow 300ms linear;
}

.product:hover {
  scale: 101%;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.product h3 {
  color: #9f64cd;
  padding: 0.5em;
  color: white;
  background-color: black;
}

.product h4 {
  padding: 1em;
  font-weight: bold;
}

.img-container {
  position: relative;
}

.product-img {
  display: block;
  height: 100%;
  width: 100%;
}

.info-btn {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
}

.info-btn:hover {
  opacity: 1;
  background-color: rgba(159, 100, 205, 0.5);
}

.info-btn-link {
  border: 1px white solid;
  padding: 1em 2em;
}

/*cart-page*/
.container-product-cart {
  width: 90vw;
  margin: 0 auto;
  margin-top: 2em;
}

.cart-total {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.05);
}

.cart-total h3 {
  display: block;
  border-bottom: 1px #c2c2c2 solid;
}

.cart-total p {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

#productsBasket {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0;
}

#singleProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #9f64cd;
  margin-bottom: 1em;
  overflow: hidden;
}

.product-img-container {
  width: 20%;
  padding-right: 1em;
}

.product-img {
  height: 100%;
  min-width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.remove-btn {
  color: #c2c2c2;
}

.remove-btn:hover {
  color: #9f64cd;
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-info p {
  margin-bottom: 0.3em;
}

.product-title {
  font-weight: 700;
}

.product-price {
  font-size: 1em;
  font-weight: 500;
}

.product-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 1em;
}

.addtocart-btn {
  background-color: #9f64cd;
  color: white;
}

#btnAddCart {
  cursor: pointer;
}

#btnRemoveCart {
  cursor: pointer;
}

.contact__form {
  width: 90vw;
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-title {
  margin-top: 1em;
  text-align: center;
}

.details__form {
  width: 70%;
  margin-bottom: 1em;
}

.validate {
  width: 70%;
  margin: 1em;
}

.label {
  padding: 0;
  margin: 0;
}

/* Confirmation Page*/
#home_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#order__confirmed {
  text-align: center;
  width: 70vw;
  border: 2px solid #9f64cd;
  border-radius: 10px;
  padding: 1em;
}

/*Footer*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #252525;
  height: 4em;
}

.copyright {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  color: white;
}
/*# sourceMappingURL=style.css.map */